<% if logged_in? %>
<h1>Welcome <%=current_user.name %> </h1>
<a href="/logout" class="f90-logout-button">Logout</a>
<% else %>
<a href="/login" class="f90-logout-button">Login</a>
<% end %>
<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post%></h2>
    <b>Tag: </b><%= post.tag.name%><br>
    <b>Posted by:</b> <%= post.user.name%> at <%= post.created_at%><br>
  <% end %>
</ul>
